body {
	font-size: 62.5%;
	font-family: Arial, Helvetica, sans-serif;
	overflow: hidden;
}

#wrapper {
	width: 1000px;
	margin: 0 auto;
}

#container {
	margin-top: 15px;
	margin-left: 5px;
}

div.border {
	font-size: 1.2em;
	float: left;
	margin-right: 5px;
	margin-bottom: 5px;
	text-align: center;
	border: 1px solid #3B5998;
	padding: 20px;
	width: 152px;
	color: #fff;
	font-weight: bold;
	background: #00BFF3;
}

/*** CSS3 Hinge ***/

div.hinge:hover {
	-webkit-animation-name: hinge;
	-moz-animation-name: hinge;
	-ms-animation-name: hinge;
	-o-animation-name: hinge;
	animation-name: hinge;
	-webkit-animation-duration: 2s;
	-moz-animation-duration: 2s;
	-ms-animation-duration: 2s;
	-o-animation-duration: 2s;
	animation-duration: 2s;
}

/*
div.hinge {
	-webkit-animation: hinge 2s infinite;
	-moz-animation: hinge 2s infinite;
	-ms-animation: hinge 2s infinite;
	-o-animation: hinge 2s infinite;
	animation: hinge 2s infinite;
}
*/

/*** End CSS3 Hinge ***/

/*** CSS3 Flash ***/

div.flash:hover {
	-webkit-animation-name: flash;
	-moz-animation-name: flash;
	-ms-animation-name: flash;
	-o-animation-name: flash;
	animation-name: flash;
	-webkit-animation-duration: 2s;
	-moz-animation-duration: 2s;
	-ms-animation-duration: 2s;
	-o-animation-duration: 2s;
	animation-duration: 2s;
}

/*
div.flash {
	-webkit-animation: flash 2s infinite;
	-moz-animation: flash 2s infinite;
	-ms-animation: flash 2s infinite;
	-o-animation: flash 2s infinite;
	animation: flash 2s infinite;
}
*/

/*** End CSS3 Flash ***/

/*** CSS3 Shake ***/

div.shake:hover {
	-webkit-animation-name: shake;
	-moz-animation-name: shake;
	-ms-animation-name: shake;
	-o-animation-name: shake;
	animation-name: shake;
	-webkit-animation-duration: 2s;
	-moz-animation-duration: 2s;
	-ms-animation-duration: 2s;
	-o-animation-duration: 2s;
	animation-duration: 2s;
}

/*
div.shake {
	-webkit-animation: shake 2s infinite;
	-moz-animation: shake 2s infinite;
	-ms-animation: shake 2s infinite;
	-o-animation: shake 2s infinite;
	animation: shake 2s infinite;
}
*/

/*** End CSS3 Shake ***/

/*** CSS3 bounce ***/

div.bounce:hover {
	-webkit-animation-name: bounce;
	-moz-animation-name: bounce;
	-ms-animation-name: bounce;
	-o-animation-name: bounce;
	animation-name: bounce;
	-webkit-animation-duration: 2s;
	-moz-animation-duration: 2s;
	-ms-animation-duration: 2s;
	-o-animation-duration: 2s;
	animation-duration: 2s;
}

/*
div.bounce {
	-webkit-animation: bounce 2s infinite;
	-moz-animation: bounce 2s infinite;
	-ms-animation: bounce 2s infinite;
	-o-animation: bounce 2s infinite;
	animation: bounce 2s infinite;
}
*/

/*** End CSS3 bounce ***/

/*** CSS3 tada ***/

div.tada:hover {
	-webkit-animation-name: tada;
	-moz-animation-name: tada;
	-ms-animation-name: tada;
	-o-animation-name: tada;
	animation-name: tada;
	-webkit-animation-duration: 2s;
	-moz-animation-duration: 2s;
	-ms-animation-duration: 2s;
	-o-animation-duration: 2s;
	animation-duration: 2s;
}

/*
div.tada {
	-webkit-animation: tada 2s infinite;
	-moz-animation: tada 2s infinite;
	-ms-animation: tada 2s infinite;
	-o-animation: tada 2s infinite;
	animation: tada 2s infinite;
}
*/

/*** End CSS3 Tada ***/

/*** CSS3 swing ***/

div.swing:hover {
	-webkit-transform-origin: top center;
	-moz-transform-origin: top center;
	-ms-transform-origin: top center;
	-o-transform-origin: top center;
	transform-origin: top center;
	-webkit-animation-name: swing;
	-moz-animation-name: swing;
	-ms-animation-name: swing;
	-o-animation-name: swing;
	animation-name: swing;
	-webkit-animation-duration: 2s;
	-moz-animation-duration: 2s;
	-ms-animation-duration: 2s;
	-o-animation-duration: 2s;
	animation-duration: 2s;
}

/*
div.swing {
	-webkit-animation: swing 2s infinite;
	-moz-animation: swing 2s infinite;
	-ms-animation: swing 2s infinite;
	-o-animation: swing 2s infinite;
	animation: swing 2s infinite;
}
*/

/*** End CSS3 swings ***/

/*** CSS3 wobble ***/

div.wobble:hover {
	-webkit-animation-name: wobble;
	-moz-animation-name: wobble;
	-ms-animation-name: wobble;
	-o-animation-name: wobble;
	animation-name: wobble;
	-webkit-animation-duration: 2s;
	-moz-animation-duration: 2s;
	-ms-animation-duration: 2s;
	-o-animation-duration: 2s;
	animation-duration: 2s;
}

/*
div.wobble {
	-webkit-animation: wobble 2s infinite;
	-moz-animation: wobble 2s infinite;
	-ms-animation: wobble 2s infinite;
	-o-animation: wobble 2s infinite;
	animation: wobble 2s infinite;
}
*/

/*** End CSS3 wobble ***/

/*** CSS3 pulse ***/

div.pulse:hover {
	-webkit-animation-name: pulse;
	-moz-animation-name: pulse;
	-ms-animation-name: pulse;
	-o-animation-name: pulse;
	animation-name: pulse;
	-webkit-animation-duration: 2s;
	-moz-animation-duration: 2s;
	-ms-animation-duration: 2s;
	-o-animation-duration: 2s;
	animation-duration: 2s;
}

/*
div.pulse {
	-webkit-animation: pulse 2s infinite;
	-moz-animation: pulse 2s infinite;
	-ms-animation: pulse 2s infinite;
	-o-animation: pulse 2s infinite;
	animation: pulse 2s infinite;
}
*/

/*** End CSS3 pulse ***/

/*** CSS3 flip ***/

div.flip:hover {
	-webkit-backface-visibility: visible !important;
	-webkit-animation-name: flip;
	-moz-backface-visibility: visible !important;
	-moz-animation-name: flip;
	-ms-backface-visibility: visible !important;
	-ms-animation-name: flip;
	-o-backface-visibility: visible !important;
	-o-animation-name: flip;
	backface-visibility: visible !important;
	animation-name: flip;
	-webkit-animation-duration: 2s;
	-moz-animation-duration: 2s;
	-ms-animation-duration: 2s;
	-o-animation-duration: 2s;
	animation-duration: 2s;
}

/*
div.flip {
	-webkit-animation: flip 2s infinite;
	-moz-animation: flip 2s infinite;
	-ms-animation: flip 2s infinite;
	-o-animation: flip 2s infinite;
	animation: flip 2s infinite;
}
*/

/*** End CSS3 flip ***/

/*** CSS3 flipInX ***/

div.flipInX:hover {
	-webkit-backface-visibility: visible !important;
	-webkit-animation-name: flipInX;
	-moz-backface-visibility: visible !important;
	-moz-animation-name: flipInX;
	-ms-backface-visibility: visible !important;
	-ms-animation-name: flipInX;
	-o-backface-visibility: visible !important;
	-o-animation-name: flipInX;
	backface-visibility: visible !important;
	animation-name: flipInX;
	-webkit-animation-duration: 2s;
	-moz-animation-duration: 2s;
	-ms-animation-duration: 2s;
	-o-animation-duration: 2s;
	animation-duration: 2s;
}

/*
div.flipInX {
	-webkit-animation: flipInX 2s infinite;
	-moz-animation: flipInX 2s infinite;
	-ms-animation: flipInX 2s infinite;
	-o-animation: flipInX 2s infinite;
	animation: flipInX 2s infinite;
}
*/

/*** End CSS3 flipInX ***/

/*** CSS3 flipOutX ***/

div.flipOutX:hover {
	-webkit-animation-name: flipOutX;
	-webkit-backface-visibility: visible !important;
	-moz-animation-name: flipOutX;
	-moz-backface-visibility: visible !important;
	-ms-animation-name: flipOutX;
	-ms-backface-visibility: visible !important;
	-o-animation-name: flipOutX;
	-o-backface-visibility: visible !important;
	animation-name: flipOutX;
	backface-visibility: visible !important;
	-webkit-animation-duration: 2s;
	-moz-animation-duration: 2s;
	-ms-animation-duration: 2s;
	-o-animation-duration: 2s;
	animation-duration: 2s;
}

/*
div.flipOutX {
	-webkit-animation: flipOutX 2s infinite;
	-moz-animation: flipOutX 2s infinite;
	-ms-animation: flipOutX 2s infinite;
	-o-animation: flipOutX 2s infinite;
	animation: flipOutX 2s infinite;
}
*/

/*** End CSS3 flipOutX ***/

/*** CSS3 flipInY ***/

div.flipInY:hover {
	-webkit-backface-visibility: visible !important;
	-webkit-animation-name: flipInY;
	-moz-backface-visibility: visible !important;
	-moz-animation-name: flipInY;
	-ms-backface-visibility: visible !important;
	-ms-animation-name: flipInY;
	-o-backface-visibility: visible !important;
	-o-animation-name: flipInY;
	backface-visibility: visible !important;
	animation-name: flipInY;
	-webkit-animation-duration: 2s;
	-moz-animation-duration: 2s;
	-ms-animation-duration: 2s;
	-o-animation-duration: 2s;
	animation-duration: 2s;
}

/*
div.flipInY {
	-webkit-animation: flipInY 2s infinite;
	-moz-animation: flipInY 2s infinite;
	-ms-animation: flipInY 2s infinite;
	-o-animation: flipInY 2s infinite;
	animation: flipInY 2s infinite;
}
*/

/*** End CSS3 flipInY ***/

/*** CSS3 flipOutY ***/

div.flipOutY:hover {
	-webkit-backface-visibility: visible !important;
	-webkit-animation-name: flipOutY;
	-moz-backface-visibility: visible !important;
	-moz-animation-name: flipOutY;
	-ms-backface-visibility: visible !important;
	-ms-animation-name: flipOutY;
	-o-backface-visibility: visible !important;
	-o-animation-name: flipOutY;
	backface-visibility: visible !important;
	animation-name: flipOutY;
	-webkit-animation-duration: 2s;
	-moz-animation-duration: 2s;
	-ms-animation-duration: 2s;
	-o-animation-duration: 2s;
	animation-duration: 2s;
}

/*
div.flipOutY {
	-webkit-animation: flipOutY 2s infinite;
	-moz-animation: flipOutY 2s infinite;
	-ms-animation: flipOutY 2s infinite;
	-o-animation: flipOutY 2s infinite;
	animation: flipOutY 2s infinite;
}
*/

/*** End CSS3 flipOutY ***/

/*** CSS3 fadeIn ***/

div.fadeIn:hover {
	-webkit-animation-name: fadeIn;
	-moz-animation-name: fadeIn;
	-ms-animation-name: fadeIn;
	-o-animation-name: fadeIn;
	animation-name: fadeIn;
	-webkit-animation-duration: 2s;
	-moz-animation-duration: 2s;
	-ms-animation-duration: 2s;
	-o-animation-duration: 2s;
	animation-duration: 2s;
}

/*
div.fadeIn {
	-webkit-animation: fadeIn 2s infinite;
	-moz-animation: fadeIn 2s infinite;
	-ms-animation: fadeIn 2s infinite;
	-o-animation: fadeIn 2s infinite;
	animation: fadeIn 2s infinite;
}
*/

/*** End CSS3 fadeIn ***/

/*** CSS3 fadeInUp ***/

div.fadeInUp:hover {
	-webkit-animation-name: fadeInUp;
	-moz-animation-name: fadeInUp;
	-ms-animation-name: fadeInUp;
	-o-animation-name: fadeInUp;
	animation-name: fadeInUp;
	-webkit-animation-duration: 2s;
	-moz-animation-duration: 2s;
	-ms-animation-duration: 2s;
	-o-animation-duration: 2s;
	animation-duration: 2s;
}

/*
div.fadeInUp {
	-webkit-animation: fadeInUp 2s infinite;
	-moz-animation: fadeInUp 2s infinite;
	-ms-animation: fadeInUp 2s infinite;
	-o-animation: fadeInUp 2s infinite;
	animation: fadeInUp 2s infinite;
}
*/

/*** End CSS3 fadeInUp ***/

/*** CSS3 fadeInDown ***/

div.fadeInDown:hover {
	-webkit-animation-name: fadeInDown;
	-moz-animation-name: fadeInDown;
	-ms-animation-name: fadeInDown;
	-o-animation-name: fadeInDown;
	animation-name: fadeInDown;
	-webkit-animation-duration: 2s;
	-moz-animation-duration: 2s;
	-ms-animation-duration: 2s;
	-o-animation-duration: 2s;
	animation-duration: 2s;
}

/*
div.fadeInDown {
	-webkit-animation: fadeInDown 2s infinite;
	-moz-animation: fadeInDown 2s infinite;
	-ms-animation: fadeInDown 2s infinite;
	-o-animation: fadeInDown 2s infinite;
	animation: fadeInDown 2s infinite;
}
*/

/*** End CSS3 fadeInDown ***/

/*** CSS3 fadeInLeft ***/

div.fadeInLeft:hover {
	-webkit-animation-name: fadeInLeft;
	-moz-animation-name: fadeInLeft;
	-ms-animation-name: fadeInLeft;
	-o-animation-name: fadeInLeft;
	animation-name: fadeInLeft;
	-webkit-animation-duration: 2s;
	-moz-animation-duration: 2s;
	-ms-animation-duration: 2s;
	-o-animation-duration: 2s;
	animation-duration: 2s;
}

/*
div.fadeInLeft {
	-webkit-animation: fadeInLeft 2s infinite;
	-moz-animation: fadeInLeft 2s infinite;
	-ms-animation: fadeInLeft 2s infinite;
	-o-animation: fadeInLeft 2s infinite;
	animation: fadeInLeft 2s infinite;
}
*/

/*** End CSS3 fadeInLeft ***/

/*** CSS3 fadeInRight ***/

div.fadeInRight:hover {
	-webkit-animation-name: fadeInRight;
	-moz-animation-name: fadeInRight;
	-ms-animation-name: fadeInRight;
	-o-animation-name: fadeInRight;
	animation-name: fadeInRight;
	-webkit-animation-duration: 2s;
	-moz-animation-duration: 2s;
	-ms-animation-duration: 2s;
	-o-animation-duration: 2s;
	animation-duration: 2s;
}

/*
div.fadeInRight {
	-webkit-animation: fadeInRight 2s infinite;
	-moz-animation: fadeInRight 2s infinite;
	-ms-animation: fadeInRight 2s infinite;
	-o-animation: fadeInRight 2s infinite;
	animation: fadeInRight 2s infinite;
}
*/

/*** End CSS3 fadeInRight ***/

/*** CSS3 fadeInUpBig ***/

div.fadeInUpBig:hover {
	-webkit-animation-name: fadeInUpBig;
	-moz-animation-name: fadeInUpBig;
	-ms-animation-name: fadeInUpBig;
	-o-animation-name: fadeInUpBig;
	animation-name: fadeInUpBig;
	-webkit-animation-duration: 2s;
	-moz-animation-duration: 2s;
	-ms-animation-duration: 2s;
	-o-animation-duration: 2s;
	animation-duration: 2s;
}

/*
div.fadeInUpBig {
	-webkit-animation: fadeInUpBig 2s infinite;
	-moz-animation: fadeInUpBig 2s infinite;
	-ms-animation: fadeInUpBig 2s infinite;
	-o-animation: fadeInUpBig 2s infinite;
	animation: fadeInUpBig 2s infinite;
}
*/

/*** End CSS3 fadeInUpBig ***/

/*** CSS3 fadeInDownBig ***/

div.fadeInDownBig:hover {
	-webkit-animation-name: fadeInDownBig;
	-moz-animation-name: fadeInDownBig;
	-ms-animation-name: fadeInDownBig;
	-o-animation-name: fadeInDownBig;
	animation-name: fadeInDownBig;
	-webkit-animation-duration: 2s;
	-moz-animation-duration: 2s;
	-ms-animation-duration: 2s;
	-o-animation-duration: 2s;
	animation-duration: 2s;
}

/*
div.fadeInDownBig {
	-webkit-animation: fadeInDownBig 2s infinite;
	-moz-animation: fadeInDownBig 2s infinite;
	-ms-animation: fadeInDownBig 2s infinite;
	-o-animation: fadeInDownBig 2s infinite;
	animation: fadeInDownBig 2s infinite;
}
*/

/*** End CSS3 fadeInDownBig ***/

/*** CSS3 fadeInLeftBig ***/

div.fadeInLeftBig:hover {
	-webkit-animation-name: fadeInLeftBig;
	-moz-animation-name: fadeInLeftBig;
	-ms-animation-name: fadeInLeftBig;
	-o-animation-name: fadeInLeftBig;
	animation-name: fadeInLeftBig;
	-webkit-animation-duration: 2s;
	-moz-animation-duration: 2s;
	-ms-animation-duration: 2s;
	-o-animation-duration: 2s;
	animation-duration: 2s;
}

/*
div.fadeInLeftBig {
	-webkit-animation: fadeInLeftBig 2s infinite;
	-moz-animation: fadeInLeftBig 2s infinite;
	-ms-animation: fadeInLeftBig 2s infinite;
	-o-animation: fadeInLeftBig 2s infinite;
	animation: fadeInLeftBig 2s infinite;
}
*/

/*** End CSS3 fadeInLeftBig ***/

/*** CSS3 fadeInRightBig ***/

div.fadeInRightBig:hover {
	-webkit-animation-name: fadeInRightBig;
	-moz-animation-name: fadeInRightBig;
	-ms-animation-name: fadeInRightBig;
	-o-animation-name: fadeInRightBig;
	animation-name: fadeInRightBig;
	-webkit-animation-duration: 2s;
	-moz-animation-duration: 2s;
	-ms-animation-duration: 2s;
	-o-animation-duration: 2s;
	animation-duration: 2s;
}

/*
div.fadeInRightBig {
	-webkit-animation: fadeInRightBig 2s infinite;
	-moz-animation: fadeInRightBig 2s infinite;
	-ms-animation: fadeInRightBig 2s infinite;
	-o-animation: fadeInRightBig 2s infinite;
	animation: fadeInRightBig 2s infinite;
}
*/

/*** End CSS3 fadeInRightBig ***/

/*** CSS3 fadeOut ***/

div.fadeOut:hover {
	-webkit-animation-name: fadeOut;
	-moz-animation-name: fadeOut;
	-ms-animation-name: fadeOut;
	-o-animation-name: fadeOut;
	animation-name: fadeOut;
	-webkit-animation-duration: 2s;
	-moz-animation-duration: 2s;
	-ms-animation-duration: 2s;
	-o-animation-duration: 2s;
	animation-duration: 2s;
}

/*
div.fadeOut {
	-webkit-animation: fadeOut 2s infinite;
	-moz-animation: fadeOut 2s infinite;
	-ms-animation: fadeOut 2s infinite;
	-o-animation: fadeOut 2s infinite;
	animation: fadeOut 2s infinite;
}
*/

/*** End CSS3 fadeOut ***/

/*** CSS3 fadeOutUp ***/

div.fadeOutUp:hover {
	-webkit-animation-name: fadeOutUp;
	-moz-animation-name: fadeOutUp;
	-ms-animation-name: fadeOutUp;
	-o-animation-name: fadeOutUp;
	animation-name: fadeOutUp;
	-webkit-animation-duration: 2s;
	-moz-animation-duration: 2s;
	-ms-animation-duration: 2s;
	-o-animation-duration: 2s;
	animation-duration: 2s;
}

/*
div.fadeOutUp {
	-webkit-animation: fadeOutUp 2s infinite;
	-moz-animation: fadeOutUp 2s infinite;
	-ms-animation: fadeOutUp 2s infinite;
	-o-animation: fadeOutUp 2s infinite;
	animation: fadeOutUp 2s infinite;
}
*/

/*** End CSS3 fadeOutUp ***/

/*** CSS3 fadeOutDown ***/

div.fadeOutDown:hover {
	-webkit-animation-name: fadeOutDown;
	-moz-animation-name: fadeOutDown;
	-ms-animation-name: fadeOutDown;
	-o-animation-name: fadeOutDown;
	animation-name: fadeOutDown;
	-webkit-animation-duration: 2s;
	-moz-animation-duration: 2s;
	-ms-animation-duration: 2s;
	-o-animation-duration: 2s;
	animation-duration: 2s;
}

/*
div.fadeOutDown {
	-webkit-animation: fadeOutDown 2s infinite;
	-moz-animation: fadeOutDown 2s infinite;
	-ms-animation: fadeOutDown 2s infinite;
	-o-animation: fadeOutDown 2s infinite;
	animation: fadeOutDown 2s infinite;
}
*/

/*** End CSS3 fadeOutDown ***/

/*** CSS3 fadeOutLeft ***/

div.fadeOutLeft:hover {
	-webkit-animation-name: fadeOutLeft;
	-moz-animation-name: fadeOutLeft;
	-ms-animation-name: fadeOutLeft;
	-o-animation-name: fadeOutLeft;
	animation-name: fadeOutLeft;
	-webkit-animation-duration: 2s;
	-moz-animation-duration: 2s;
	-ms-animation-duration: 2s;
	-o-animation-duration: 2s;
	animation-duration: 2s;
}

/*
div.fadeOutLeft {
	-webkit-animation: fadeOutLeft 2s infinite;
	-moz-animation: fadeOutLeft 2s infinite;
	-ms-animation: fadeOutLeft 2s infinite;
	-o-animation: fadeOutLeft 2s infinite;
	animation: fadeOutLeft 2s infinite;
}
*/

/*** End CSS3 fadeOutLeft ***/

/*** CSS3 fadeOutRight ***/

div.fadeOutRight:hover {
	-webkit-animation-name: fadeOutRight;
	-moz-animation-name: fadeOutRight;
	-ms-animation-name: fadeOutRight;
	-o-animation-name: fadeOutRight;
	animation-name: fadeOutRight;
	-webkit-animation-duration: 2s;
	-moz-animation-duration: 2s;
	-ms-animation-duration: 2s;
	-o-animation-duration: 2s;
	animation-duration: 2s;
}

/*
div.fadeOutRight {
	-webkit-animation: fadeOutRight 2s infinite;
	-moz-animation: fadeOutRight 2s infinite;
	-ms-animation: fadeOutRight 2s infinite;
	-o-animation: fadeOutRight 2s infinite;
	animation: fadeOutRight 2s infinite;
}
*/

/*** End CSS3 fadeOutRight ***/

/*** CSS3 fadeOutUpBig ***/

div.fadeOutUpBig:hover {
	-webkit-animation-name: fadeOutUpBig;
	-moz-animation-name: fadeOutUpBig;
	-ms-animation-name: fadeOutUpBig;
	-o-animation-name: fadeOutUpBig;
	animation-name: fadeOutUpBig;
	-webkit-animation-duration: 2s;
	-moz-animation-duration: 2s;
	-ms-animation-duration: 2s;
	-o-animation-duration: 2s;
	animation-duration: 2s;
}

/*
div.fadeOutUpBig {
	-webkit-animation: fadeOutUpBig 2s infinite;
	-moz-animation: fadeOutUpBig 2s infinite;
	-ms-animation: fadeOutUpBig 2s infinite;
	-o-animation: fadeOutUpBig 2s infinite;
	animation: fadeOutUpBig 2s infinite;
}
*/

/*** End CSS3 fadeOutUpBig ***/

/*** CSS3 fadeOutDownBig ***/

div.fadeOutDownBig:hover {
	-webkit-animation-name: fadeOutDownBig;
	-moz-animation-name: fadeOutDownBig;
	-ms-animation-name: fadeOutDownBig;
	-o-animation-name: fadeOutDownBig;
	animation-name: fadeOutDownBig;
	-webkit-animation-duration: 2s;
	-moz-animation-duration: 2s;
	-ms-animation-duration: 2s;
	-o-animation-duration: 2s;
	animation-duration: 2s;
}

/*
div.fadeOutDownBig {
	-webkit-animation: fadeOutDownBig 2s infinite;
	-moz-animation: fadeOutDownBig 2s infinite;
	-ms-animation: fadeOutDownBig 2s infinite;
	-o-animation: fadeOutDownBig 2s infinite;
	animation: fadeOutDownBig 2s infinite;
}
*/

/*** End CSS3 fadeOutDownBig ***/

/*** CSS3 fadeOutLeftBig ***/

div.fadeOutLeftBig:hover {
	-webkit-animation-name: fadeOutLeftBig;
	-moz-animation-name: fadeOutLeftBig;
	-ms-animation-name: fadeOutLeftBig;
	-o-animation-name: fadeOutLeftBig;
	animation-name: fadeOutLeftBig;
	-webkit-animation-duration: 2s;
	-moz-animation-duration: 2s;
	-ms-animation-duration: 2s;
	-o-animation-duration: 2s;
	animation-duration: 2s;
}

/*
div.fadeOutLeftBig {
	-webkit-animation: fadeOutLeftBig 2s infinite;
	-moz-animation: fadeOutLeftBig 2s infinite;
	-ms-animation: fadeOutLeftBig 2s infinite;
	-o-animation: fadeOutLeftBig 2s infinite;
	animation: fadeOutLeftBig 2s infinite;
}
*/

/*** End CSS3 fadeOutLeftBig ***/

/*** CSS3 fadeOutRightBig ***/

div.fadeOutRightBig:hover {
	-webkit-animation-name: fadeOutRightBig;
	-moz-animation-name: fadeOutRightBig;
	-ms-animation-name: fadeOutRightBig;
	-o-animation-name: fadeOutRightBig;
	animation-name: fadeOutRightBig;
	-webkit-animation-duration: 2s;
	-moz-animation-duration: 2s;
	-ms-animation-duration: 2s;
	-o-animation-duration: 2s;
	animation-duration: 2s;
}

/*
div.fadeOutRightBig {
	-webkit-animation: fadeOutRightBig 2s infinite;
	-moz-animation: fadeOutRightBig 2s infinite;
	-ms-animation: fadeOutRightBig 2s infinite;
	-o-animation: fadeOutRightBig 2s infinite;
	animation: fadeOutRightBig 2s infinite;
}
*/

/*** End CSS3 fadeOutRightBig ***/

/*** CSS3 bounceIn ***/

div.bounceIn:hover {
	-webkit-animation-name: bounceIn;
	-moz-animation-name: bounceIn;
	-ms-animation-name: bounceIn;
	-o-animation-name: bounceIn;
	animation-name: bounceIn;
	-webkit-animation-duration: 2s;
	-moz-animation-duration: 2s;
	-ms-animation-duration: 2s;
	-o-animation-duration: 2s;
	animation-duration: 2s;
}

/*
div.bounceIn {
	-webkit-animation: bounceIn 2s infinite;
	-moz-animation: bounceIn 2s infinite;
	-ms-animation: bounceIn 2s infinite;
	-o-animation: bounceIn 2s infinite;
	animation: bounceIn 2s infinite;
}
*/

/*** End CSS3 bounceIn ***/

/*** CSS3 bounceInUp ***/

div.bounceInUp:hover {
	-webkit-animation-name: bounceInUp;
	-moz-animation-name: bounceInUp;
	-ms-animation-name: bounceInUp;
	-o-animation-name: bounceInUp;
	animation-name: bounceInUp;
	-webkit-animation-duration: 2s;
	-moz-animation-duration: 2s;
	-ms-animation-duration: 2s;
	-o-animation-duration: 2s;
	animation-duration: 2s;
}

/*
div.bounceInUp {
	-webkit-animation: bounceInUp 2s infinite;
	-moz-animation: bounceInUp 2s infinite;
	-ms-animation: bounceInUp 2s infinite;
	-o-animation: bounceInUp 2s infinite;
	animation: bounceInUp 2s infinite;
}
*/

/*** End CSS3 bounceInUp ***/

/*** CSS3 bounceInDown ***/

div.bounceInDown:hover {
	-webkit-animation-name: bounceInDown;
	-moz-animation-name: bounceInDown;
	-ms-animation-name: bounceInDown;
	-o-animation-name: bounceInDown;
	animation-name: bounceInDown;
	-webkit-animation-duration: 2s;
	-moz-animation-duration: 2s;
	-ms-animation-duration: 2s;
	-o-animation-duration: 2s;
	animation-duration: 2s;
}

/*
div.bounceInDown {
	-webkit-animation: bounceInDown 2s infinite;
	-moz-animation: bounceInDown 2s infinite;
	-ms-animation: bounceInDown 2s infinite;
	-o-animation: bounceInDown 2s infinite;
	animation: bounceInDown 2s infinite;
}
*/

/*** End CSS3 bounceInDown ***/

/*** CSS3 bounceInLeft ***/

div.bounceInLeft:hover {
	-webkit-animation-name: bounceInLeft;
	-moz-animation-name: bounceInLeft;
	-ms-animation-name: bounceInLeft;
	-o-animation-name: bounceInLeft;
	animation-name: bounceInLeft;
	-webkit-animation-duration: 2s;
	-moz-animation-duration: 2s;
	-ms-animation-duration: 2s;
	-o-animation-duration: 2s;
	animation-duration: 2s;
}

/*
div.bounceInLeft {
	-webkit-animation: bounceInLeft 2s infinite;
	-moz-animation: bounceInLeft 2s infinite;
	-ms-animation: bounceInLeft 2s infinite;
	-o-animation: bounceInLeft 2s infinite;
	animation: bounceInLeft 2s infinite;
}
*/

/*** End CSS3 bounceInLeft ***/

/*** CSS3 bounceInRight ***/

div.bounceInRight:hover {
	-webkit-animation-name: bounceInRight;
	-moz-animation-name: bounceInRight;
	-ms-animation-name: bounceInRight;
	-o-animation-name: bounceInRight;
	animation-name: bounceInRight;
	-webkit-animation-duration: 2s;
	-moz-animation-duration: 2s;
	-ms-animation-duration: 2s;
	-o-animation-duration: 2s;
	animation-duration: 2s;
}

/*
div.bounceInRight {
	-webkit-animation: bounceInRight 2s infinite;
	-moz-animation: bounceInRight 2s infinite;
	-ms-animation: bounceInRight 2s infinite;
	-o-animation: bounceInRight 2s infinite;
	animation: bounceInRight 2s infinite;
}
*/

/*** End CSS3 bounceInRight ***/

/*** CSS3 bounceOut ***/

div.bounceOut:hover {
	-webkit-animation-name: bounceOut;
	-moz-animation-name: bounceOut;
	-ms-animation-name: bounceOut;
	-o-animation-name: bounceOut;
	animation-name: bounceOut;
	-webkit-animation-duration: 2s;
	-moz-animation-duration: 2s;
	-ms-animation-duration: 2s;
	-o-animation-duration: 2s;
	animation-duration: 2s;
}

/*
div.bounceOut {
	-webkit-animation: bounceOut 2s infinite;
	-moz-animation: bounceOut 2s infinite;
	-ms-animation: bounceOut 2s infinite;
	-o-animation: bounceOut 2s infinite;
	animation: bounceOut 2s infinite;
}
*/

/*** End CSS3 bounceOut ***/

/*** CSS3 bounceOutUp ***/

div.bounceOutUp:hover {
	-webkit-animation-name: bounceOutUp;
	-moz-animation-name: bounceOutUp;
	-ms-animation-name: bounceOutUp;
	-o-animation-name: bounceOutUp;
	animation-name: bounceOutUp;
	-webkit-animation-duration: 2s;
	-moz-animation-duration: 2s;
	-ms-animation-duration: 2s;
	-o-animation-duration: 2s;
	animation-duration: 2s;
}

/*
div.bounceOutUp {
	-webkit-animation: bounceOutUp 2s infinite;
	-moz-animation: bounceOutUp 2s infinite;
	-ms-animation: bounceOutUp 2s infinite;
	-o-animation: bounceOutUp 2s infinite;
	animation: bounceOutUp 2s infinite;
}
*/

/*** End CSS3 bounceOutUp ***/

/*** CSS3 bounceOutDown ***/

div.bounceOutDown:hover {
	-webkit-animation-name: bounceOutDown;
	-moz-animation-name: bounceOutDown;
	-ms-animation-name: bounceOutDown;
	-o-animation-name: bounceOutDown;
	animation-name: bounceOutDown;
	-webkit-animation-duration: 2s;
	-moz-animation-duration: 2s;
	-ms-animation-duration: 2s;
	-o-animation-duration: 2s;
	animation-duration: 2s;
}

/*
div.bounceOutDown {
	-webkit-animation: bounceOutDown 2s infinite;
	-moz-animation: bounceOutDown 2s infinite;
	-ms-animation: bounceOutDown 2s infinite;
	-o-animation: bounceOutDown 2s infinite;
	animation: bounceOutDown 2s infinite;
}
*/

/*** End CSS3 bounceOutDown ***/

/*** CSS3 bounceOutLeft ***/

div.bounceOutLeft:hover {
	-webkit-animation-name: bounceOutLeft;
	-moz-animation-name: bounceOutLeft;
	-ms-animation-name: bounceOutLeft;
	-o-animation-name: bounceOutLeft;
	animation-name: bounceOutLeft;
	-webkit-animation-duration: 2s;
	-moz-animation-duration: 2s;
	-ms-animation-duration: 2s;
	-o-animation-duration: 2s;
	animation-duration: 2s;
}

/*
div.bounceOutLeft {
	-webkit-animation: bounceOutLeft 2s infinite;
	-moz-animation: bounceOutLeft 2s infinite;
	-ms-animation: bounceOutLeft 2s infinite;
	-o-animation: bounceOutLeft 2s infinite;
	animation: bounceOutLeft 2s infinite;
}
*/

/*** End CSS3 bounceOutLeft ***/

/*** CSS3 bounceOutRight ***/

div.bounceOutRight:hover {
	-webkit-animation-name: bounceOutRight;
	-moz-animation-name: bounceOutRight;
	-ms-animation-name: bounceOutRight;
	-o-animation-name: bounceOutRight;
	animation-name: bounceOutRight;
	-webkit-animation-duration: 2s;
	-moz-animation-duration: 2s;
	-ms-animation-duration: 2s;
	-o-animation-duration: 2s;
	animation-duration: 2s;
}

/*
div.bounceOutRight {
	-webkit-animation: bounceOutRight 2s infinite;
	-moz-animation: bounceOutRight 2s infinite;
	-ms-animation: bounceOutRight 2s infinite;
	-o-animation: bounceOutRight 2s infinite;
	animation: bounceOutRight 2s infinite;
}
*/

/*** End CSS3 bounceOutRight ***/

/*** CSS3 rotateIn ***/

div.rotateIn:hover {
	-webkit-animation-name: rotateIn;
	-moz-animation-name: rotateIn;
	-ms-animation-name: rotateIn;
	-o-animation-name: rotateIn;
	animation-name: rotateIn;
	-webkit-animation-duration: 2s;
	-moz-animation-duration: 2s;
	-ms-animation-duration: 2s;
	-o-animation-duration: 2s;
	animation-duration: 2s;
}

/*
div.rotateIn {
	-webkit-animation: rotateIn 2s infinite;
	-moz-animation: rotateIn 2s infinite;
	-ms-animation: rotateIn 2s infinite;
	-o-animation: rotateIn 2s infinite;
	animation: rotateIn 2s infinite;
}
*/

/*** End CSS3 rotateIn ***/

/*** CSS3 rotateInUpLeft ***/

div.rotateInUpLeft:hover {
	-webkit-animation-name: rotateInUpLeft;
	-moz-animation-name: rotateInUpLeft;
	-ms-animation-name: rotateInUpLeft;
	-o-animation-name: rotateInUpLeft;
	animation-name: rotateInUpLeft;
	-webkit-animation-duration: 2s;
	-moz-animation-duration: 2s;
	-ms-animation-duration: 2s;
	-o-animation-duration: 2s;
	animation-duration: 2s;
}

/*
div.rotateInUpLeft {
	-webkit-animation: rotateInUpLeft 2s infinite;
	-moz-animation: rotateInUpLeft 2s infinite;
	-ms-animation: rotateInUpLeft 2s infinite;
	-o-animation: rotateInUpLeft 2s infinite;
	animation: rotateInUpLeft 2s infinite;
}
*/

/*** End CSS3 rotateInUpLeft ***/

/*** CSS3 rotateInDownLeft ***/

div.rotateInDownLeft:hover {
	-webkit-animation-name: rotateInDownLeft;
	-moz-animation-name: rotateInDownLeft;
	-ms-animation-name: rotateInDownLeft;
	-o-animation-name: rotateInDownLeft;
	animation-name: rotateInDownLeft;
	-webkit-animation-duration: 2s;
	-moz-animation-duration: 2s;
	-ms-animation-duration: 2s;
	-o-animation-duration: 2s;
	animation-duration: 2s;
}

/*
div.rotateInDownLeft {
	-webkit-animation: rotateInDownLeft 2s infinite;
	-moz-animation: rotateInDownLeft 2s infinite;
	-ms-animation: rotateInDownLeft 2s infinite;
	-o-animation: rotateInDownLeft 2s infinite;
	animation: rotateInDownLeft 2s infinite;
}
*/

/*** End CSS3 rotateInDownLeft ***/

/*** CSS3 rotateInUpRight ***/

div.rotateInUpRight:hover {
	-webkit-animation-name: rotateInUpRight;
	-moz-animation-name: rotateInUpRight;
	-ms-animation-name: rotateInUpRight;
	-o-animation-name: rotateInUpRight;
	animation-name: rotateInUpRight;
	-webkit-animation-duration: 2s;
	-moz-animation-duration: 2s;
	-ms-animation-duration: 2s;
	-o-animation-duration: 2s;
	animation-duration: 2s;
}

/*
div.rotateInUpRight {
	-webkit-animation: rotateInUpRight 2s infinite;
	-moz-animation: rotateInUpRight 2s infinite;
	-ms-animation: rotateInUpRight 2s infinite;
	-o-animation: rotateInUpRight 2s infinite;
	animation: rotateInUpRight 2s infinite;
}
*/

/*** End CSS3 rotateInUpRight ***/

/*** CSS3 rotateInDownRight ***/

div.rotateInDownRight:hover {
	-webkit-animation-name: rotateInDownRight;
	-moz-animation-name: rotateInDownRight;
	-ms-animation-name: rotateInDownRight;
	-o-animation-name: rotateInDownRight;
	animation-name: rotateInDownRight;
	-webkit-animation-duration: 2s;
	-moz-animation-duration: 2s;
	-ms-animation-duration: 2s;
	-o-animation-duration: 2s;
	animation-duration: 2s;
}

/*
div.rotateInDownRight {
	-webkit-animation: rotateInDownRight 2s infinite;
	-moz-animation: rotateInDownRight 2s infinite;
	-ms-animation: rotateInDownRight 2s infinite;
	-o-animation: rotateInDownRight 2s infinite;
	animation: rotateInDownRight 2s infinite;
}
*/

/*** End CSS3 rotateInDownRight ***/

/*** CSS3 rotateOut ***/

div.rotateOut:hover {
	-webkit-animation-name: rotateOut;
	-moz-animation-name: rotateOut;
	-ms-animation-name: rotateOut;
	-o-animation-name: rotateOut;
	animation-name: rotateOut;
	-webkit-animation-duration: 2s;
	-moz-animation-duration: 2s;
	-ms-animation-duration: 2s;
	-o-animation-duration: 2s;
	animation-duration: 2s;
}

/*
div.rotateOut {
	-webkit-animation: rotateOut 2s infinite;
	-moz-animation: rotateOut 2s infinite;
	-ms-animation: rotateOut 2s infinite;
	-o-animation: rotateOut 2s infinite;
	animation: rotateOut 2s infinite;
}
*/

/*** End CSS3 rotateOut ***/

/*** CSS3 rotateOutUpLeft ***/

div.rotateOutUpLeft:hover {
	-webkit-animation-name: rotateOutUpLeft;
	-moz-animation-name: rotateOutUpLeft;
	-ms-animation-name: rotateOutUpLeft;
	-o-animation-name: rotateOutUpLeft;
	animation-name: rotateOutUpLeft;
	-webkit-animation-duration: 2s;
	-moz-animation-duration: 2s;
	-ms-animation-duration: 2s;
	-o-animation-duration: 2s;
	animation-duration: 2s;
}

/*
div.rotateOutUpLeft {
	-webkit-animation: rotateOutUpLeft 2s infinite;
	-moz-animation: rotateOutUpLeft 2s infinite;
	-ms-animation: rotateOutUpLeft 2s infinite;
	-o-animation: rotateOutUpLeft 2s infinite;
	animation: rotateOutUpLeft 2s infinite;
}
*/

/*** End CSS3 rotateOutUpLeft ***/

/*** CSS3 rotateOutDownLeft ***/

div.rotateOutDownLeft:hover {
	-webkit-animation-name: rotateOutDownLeft;
	-moz-animation-name: rotateOutDownLeft;
	-ms-animation-name: rotateOutDownLeft;
	-o-animation-name: rotateOutDownLeft;
	animation-name: rotateOutDownLeft;
	-webkit-animation-duration: 2s;
	-moz-animation-duration: 2s;
	-ms-animation-duration: 2s;
	-o-animation-duration: 2s;
	animation-duration: 2s;
}

/*
div.rotateOutDownLeft {
	-webkit-animation: rotateOutDownLeft 2s infinite;
	-moz-animation: rotateOutDownLeft 2s infinite;
	-ms-animation: rotateOutDownLeft 2s infinite;
	-o-animation: rotateOutDownLeft 2s infinite;
	animation: rotateOutDownLeft 2s infinite;
}
*/

/*** End CSS3 rotateOutDownLeft ***/

/*** CSS3 rotateOutUpRight ***/

div.rotateOutUpRight:hover {
	-webkit-animation-name: rotateOutUpRight;
	-moz-animation-name: rotateOutUpRight;
	-ms-animation-name: rotateOutUpRight;
	-o-animation-name: rotateOutUpRight;
	animation-name: rotateOutUpRight;
	-webkit-animation-duration: 2s;
	-moz-animation-duration: 2s;
	-ms-animation-duration: 2s;
	-o-animation-duration: 2s;
	animation-duration: 2s;
}

/*
div.rotateOutUpRight {
	-webkit-animation: rotateOutUpRight 2s infinite;
	-moz-animation: rotateOutUpRight 2s infinite;
	-ms-animation: rotateOutUpRight 2s infinite;
	-o-animation: rotateOutUpRight 2s infinite;
	animation: rotateOutUpRight 2s infinite;
}
*/

/*** End CSS3 rotateOutUpRight ***/

/*** CSS3 rotateOutDownRight ***/

div.rotateOutDownRight:hover {
	-webkit-animation-name: rotateOutDownRight;
	-moz-animation-name: rotateOutDownRight;
	-ms-animation-name: rotateOutDownRight;
	-o-animation-name: rotateOutDownRight;
	animation-name: rotateOutDownRight;
	-webkit-animation-duration: 2s;
	-moz-animation-duration: 2s;
	-ms-animation-duration: 2s;
	-o-animation-duration: 2s;
	animation-duration: 2s;
}

/*
div.rotateOutDownRight {
	-webkit-animation: rotateOutDownRight 2s infinite;
	-moz-animation: rotateOutDownRight 2s infinite;
	-ms-animation: rotateOutDownRight 2s infinite;
	-o-animation: rotateOutDownRight 2s infinite;
	animation: rotateOutDownRight 2s infinite;
}
*/

/*** End CSS3 rotateOutDownRight ***/

/*** CSS3 rollIn ***/

div.rollIn:hover {
	-webkit-animation-name: rollIn;
	-moz-animation-name: rollIn;
	-ms-animation-name: rollIn;
	-o-animation-name: rollIn;
	animation-name: rollIn;
	-webkit-animation-duration: 2s;
	-moz-animation-duration: 2s;
	-ms-animation-duration: 2s;
	-o-animation-duration: 2s;
	animation-duration: 2s;
}

/*
div.rollIn {
	-webkit-animation: rollIn 2s infinite;
	-moz-animation: rollIn 2s infinite;
	-ms-animation: rollIn 2s infinite;
	-o-animation: rollIn 2s infinite;
	animation: rollIn 2s infinite;
}
*/

/*** End CSS3 rollIn ***/

/*** CSS3 rollOut ***/

div.rollOut:hover {
	-webkit-animation-name: rollOut;
	-moz-animation-name: rollOut;
	-ms-animation-name: rollOut;
	-o-animation-name: rollOut;
	animation-name: rollOut;
	-webkit-animation-duration: 2s;
	-moz-animation-duration: 2s;
	-ms-animation-duration: 2s;
	-o-animation-duration: 2s;
	animation-duration: 2s;
}

/*
div.rollOut {
	-webkit-animation: rollOut 2s infinite;
	-moz-animation: rollOut 2s infinite;
	-ms-animation: rollOut 2s infinite;
	-o-animation: rollOut 2s infinite;
	animation: rollOut 2s infinite;
}
*/

/*** End CSS3 rollOut ***/
